@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{list-style-type: none; font-family: 'Nanum Gothic', sans-serif;}
a{text-decoration: none; color: inherit; display: block;}

/* header 시작 */
.head_wrap{width: 940px; margin: 0 auto;
    position: relative;}
.left{width: 190px; float: left;}
.left a:nth-child(2){position: absolute; top: 13.5px; left: 110px;}
.right{width: 260px; float: right; height: 83px;}
.right ul{display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; padding-top: 14px;}
.logo::before{content: ""; display: block; clear: both;}
.eng{padding-top: 2px;}
.ch{padding-top: 2px;}
.logo{display: block; position: relative;
    width: 134px; margin: 0 auto; padding-top: 16px;}
.logo a{position: absolute; top: 18%; left: 2%;}
.fix{position: fixed; top: 30px; right: 360px; z-index: 3;}

/* nav시작 */
nav{width: 100%; border-bottom: 2px solid #ba000c;}
.menu_wrap{width: 930px; margin: 0 auto;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; text-align: center;}
.navi{margin-bottom: 5px; width: 930px;}
.navi>li{width: 155px; /* border: 1px solid forestgreen; */
    height: 60px;} 
.hover_box{text-align: center; height: 60px;}
.tit{font-size: 18px; line-height: 48px; height: 38px;
    font-weight: 900;}
.text{font-size: 12px; display: none;}
.menu_wrap.on .text{display: block; color: black;}
.hover_box:hover{background-color: #ba000c; color: white;}
.hover_box:hover .text { color: white; }
.sub_wrap{width: 100%; background-color: #6f6f6f ;
    display: none; height: 280px;
    position: absolute; z-index: 2;}
.sub{width: 930px; margin: 0 auto;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; text-align: center;}
.submenu{width: 155px; height: 280px;}
.submenu>li>a{height: 30px; line-height: 30px;
    font-size: 13px; color: #a4a4a4;}
.top{margin-top: 15px;}
.submenu>li>a:hover{color: white;}

/* main_visual시작 */
#main_visual .swiper {width: 100%; height: 480px;
    /* border-top: 2px solid #ba000c; */}
#main_visual .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;}
#main_visual .swiper-slide img {display: block; width: 100%;
    height: 480px; object-fit: cover;}
#main_visual .swiper-pagination-bullet{
    background-color: #6f6f6f; opacity: 1;
    width: 10px; height: 10px;}
#main_visual .swiper-pagination-bullet-active{
    background-color: #ba000c;}

    /* main_contents 시작 */
#main_contents{width: 940px; margin: 0 auto;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; margin-bottom: 50px;
    margin-top: 60px;}
.franchise{width: 225px; height: 275px; background-color: #faf9f7;
    position: relative;}
.franchise a:nth-child(1){position: absolute;
    bottom: -5px; right: 0;}
.franchise a:nth-child(2){position: absolute;
    top: 30px; left: 20px;}
.mall{width: 460px; padding-top: 15px;}
.tit{margin-left: 10px;}
.mall p{font-size: 15px; margin-left: 10px;}
.mall ul li a:nth-child(2){font-size: 12px;}
.mall ul{display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between;}
.mall ul li{width: 150px; margin-top: 45px;}
.mall ul li a{display: block; text-align: center;}
.mall ul li a img{width: 90px;}
.mall ul li:nth-child(2){border-right: 1px dotted #6f6f6f;
    border-left: 1px dotted #6f6f6f; padding: 0 5px 0 5px;}
.mall ul li a:nth-child(2):hover{color: #ba000c;}
.store{width: 240px; height: 275px; background-color: #faf9f7;
    position: relative;}
.store a:nth-child(1){position: absolute;
    bottom: -5px; right: 0;}
.store a:nth-child(2){position: absolute;
    top: 30px; left: 20px;}

/* banner 시작 */
#banner{width: 940px; margin: 0 auto;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between;}

/* sub_contents 시작 */
#sub_contents{width: 940px;
    margin: 0 auto; display: flex; flex-direction: row;
    flex-wrap: nowrap; justify-content: space-between;
    font-size: 12px; color: #6f6f6f; margin-top: 30px;}
.academy{ width: 205px; box-sizing: border-box;}
.img{display: block; margin-bottom: 5px;}
.area{margin-top: 8px; padding-left: 3px;}
.area a{display: inline-block;}
.solution{width: 205px;}
.news{width: 205px;}
.news_area{margin-bottom: 3px;}
.news_area a{display: inline-block;}
.text_area a p{display: inline-block;}
.text_area a p:nth-child(1){float: left; margin-bottom: 3px;}
.text_area a p:nth-child(2){float: right;}
.icon{width: 205px; clear: both;}
.icon ul{display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between;}
.icon ul li{text-align: center;}
.icon ul li:nth-child(2){border-right: 1px dotted #6f6f6f;
    border-left: 1px dotted #6f6f6f; padding: 0 5px 0 5px;}
.icon ul li img{display: block; margin: 0 auto;
    margin-bottom: 15px; padding-top: 8px;}

/* sns시작 */
#sns{width: 940px; margin: 0 auto; border-top: 2px solid #ba000c;
    margin-bottom: 100px; margin-top: 50px;}
#sns ul {padding-top: 40px;}
#sns ul li{display: inline-block;}

/* footer시작 */
footer{font-size: 12px; width: 100%; background-color: #ba000c;}
.foot_wrap{width: 940px; margin: 0 auto; padding-top: 33px;
    padding-bottom: 25px;}
.foot_wrap a{display: inline-block;}
.foot_wrap ul{color: #faeff0; display:  flex;
    flex-wrap: nowrap; flex-direction: row;
    margin-bottom: 32px;}
.foot_wrap ul li a:hover{text-decoration: underline;}
.even::after{content: ""; display: inline-block;
    clear: both; height: 8px;
    border-right:1px solid white ;
    margin: 0 8px 0 8px;}
.even::before{content: ""; display: inline-block;
    clear: both; height: 8px;
    border-right:1px solid white ;
    margin: 0 8px 0 8px;}
.bar ::after{content: ""; display: inline-block;
    clear: both; height: 8px;
    border-right:1px solid white ;
    margin: 0 8px 0 8px;}
.info{color: #de898e;}
.info p {display: inline-block;}
.bold{font-weight: 800;}